a {
    display:block;
    margin:calc(50vh - 85px) auto;
    width: 330px;
    text-align: center;
    background: #009688;
    color: #fff;
    font:bold 4em/150px sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 20px solid#00514a;
  }