/* Radwa */
/*
* {
  box-sizing: border-box;
}
*/
/* container div */
/*
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px;
  font-family: sans-serif;
  font-weight: 600;
  gap:15px;
}
*/
/* divs inside the container */
/*
.grid div {
  background-color: #607d8b;
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: count;
}
.grid div::before {
  content: "Element";
  color: white;
}
.grid div::after {
  content: counter(count);
  color: white;
  margin-left: 5px;
}
*/

/* K.mesbah */
body {
  height: calc(100vh - 16px);
  display: grid;
  place-content: center;
}
.grid {
  background: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  grid:1fr 6fr / repeat(3,1fr);
  gap: 20px;
}
.grid div {
  background: #607d8b;
  display: grid;
  place-content: center;
  counter-increment: count;
}
.grid div::after {
  content: "Element " counter(count);
  color: #fff;
  font: bolder 1.5em sans-serif;
}