*{
    box-sizing: border-box;
    margin: 150px auto; 
}
div{
    width:100px;
    height: 100px;
    background: #efefef;
    box-shadow: 0 0 20px 0 grey inset;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px 20px;
    /* -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:; */
}