.parent1 div {
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 6;
    background-color: #eee;
}

.one {
    border: 5px solid red;
    outline: 5px solid black;
}

.two {
    border: 5px solid;
    border-color: blue green;
    outline: 5px solid black;
}

.three {
    border: 5px dashed;
    border-color: red green blue yellow;
    outline: 5px solid black;
}