div{
    width:100px;
    height: 100px;
    color:orange;
    background-color: grey;
    display:flex; 
    justify-content: center;
    align-items:center;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    margin:calc(50vh - 50px) auto;
    position: relative;
    box-shadow: 6px 0px 0 0#ff5722, -6px 0px 0 0#03a9f4;
    font: bold 16px sans-serif;
}
