/* 1 */
div * ~ :not(h3, :last-child) {
    color: red;
}
    
/* 2 */
:not(:first-child, :last-child, h3) {
    color: red;
}
    
/* 3 */
* ~ :not(h3, :last-child) {
    color: red;
}
    
/* 4 */
div + div,
p {
    color: red;
}
    
/* 5 */
div *:not(h3 + div, h3, :first-child) {
    color: red;
}
    
/* 6 */
div > * + :not(h3, h3 + div) {
    color: Red;
}
