/* Radwa */

/* * {
    box-sizing: border-box;
  }
  form {
    margin: 20px auto;
    width: 650px;
  }
  input {
    width: 600px;
    height: 55px;
    background-color: #eee;
    border: none;
    padding-left: 15px;
    outline: none;
    font-weight: 600;
    caret-color: red;
    position: relative;
  }
  div {
    width: fit-content;
    margin: 20px;
    position: relative;
  }
  div::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #f44336 50%, #009688 50%);
  }
   */


   /* K.misbah */
  body {
    height: calc(100vh - 16px);
  /*   display:grid;
    place-content:center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    all: initial;
    margin:10px auto;
    width: 600px;
    padding: 1em;
    caret-color: #f00;
    background: #f4f4f4;
    font: bold 1.5em sans-serif;
    border-bottom:5px solid;
    border-image: linear-gradient(90deg, #f44336 50%, 0, #009688) 1;
  }
  