:root {
    --mainColor: #009688;
    --mainPadding: 10px;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
  }
  div {
    width: 400px;
    color: var(--mainColor, #f00);
    border: 3px solid var(--mainColor, #000);
    padding: var(--mainPadding, 10px);
    font:bolder 16px sans-serif;
  }
  